/* Global Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--bg-color); /* Use CSS variable */
}

/* Login Container */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--bg-color); /* Use CSS variable */
}

/* Login Card */
.login-card {
    width: 100%;
    max-width: 400px;
    padding: 30px;
    background-color: var(--form-bg-color); /* Use CSS variable */
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Heading */
.login-heading {
    text-align: center;
    margin-bottom: 20px;
    color: var(--text-color); /* Use CSS variable */
    font-size: 24px;
    font-weight: bold;
}

/* Form */
.login-form {
    display: flex;
    flex-direction: column;
}

/* Input Group */
.input-group {
    margin-bottom: 15px;
}

.input-label {
    margin-bottom: 5px;
    font-weight: bold;
    color: var(--text-color); /* Use CSS variable */
}

.input-field {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--border-color); /* Use CSS variable */
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s ease;
    background-color: var(--input-bg-color); /* Use CSS variable */
    color: var(--text-color); /* Use CSS variable */
}

.input-field:focus {
    border-color: var(--primary-color); /* Use CSS variable */
    outline: none;
}

/* Button */
.login-button {
    padding: 10px;
    background-color: var(--primary-color); /* Use CSS variable */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    background-color: var(--hover-color); /* Use CSS variable */
}

/* Link */
.login-link {
    margin-top: 15px;
    text-align: center;
    font-size: 14px;
    color: var(--secondary-text-color); /* Use CSS variable */
}

.login-anchor {
    color: var(--primary-color); /* Use CSS variable */
    text-decoration: none;
    font-weight: bold;
}

.login-anchor:hover {
    text-decoration: underline;
}